@import "tailwindcss";

@theme {
  --color-primary-darkBlue: #000916;
  --color-primary-midBlue: #0f1b35;
  --color-primary-lightBlue: #568eff;
  --color-primary-pink: #e73387;
  --color-primary-gray: #40454f;
  --color-primary-lightGray: #dde6ff;
  --color-primary-black: #070d1db2;
  --color-secondary-midBlue: #2f3a51;
  --color-secondary-lightBlue: #15223f;
  --color-secondary-blue: #4996d5;
  --font-main: "Kanit", "sans-serif";
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 16px;
    height: 16px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #0f1b35;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #0f1b35;
    border-radius: 100vh;
    border: 3px solid #568eff;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #568eff;
  }

  .backgroundShadow {
    background: linear-gradient(
      43.26deg,
      rgba(7, 13, 29, 0.83) 30.65%,
      rgba(15, 27, 53, 0.629611) 50.68%,
      rgba(15, 27, 53, 0) 71.27%
    );
  }

  .inactive {
    filter: blur(4px);
    transition: filter 0.3s ease;
  }

  .active {
    filter: none;
    transition: filter 0.3s ease;
  }
}
